*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.mysite{
	width: 100%;
	height: 70px;
	background-color: #EC715F
}
.mysite2{
	width: 1024px;
	height: 70px;
	margin: 0 auto;
}
.image{
	height: 70px;
	width: 200px;
	float: left;
	background-image: url(img/logo.png);
	background-position: center;
	background-size: cover;
}
.nav{
	display: inline-block;
	float: right;
}
.nav-list{
	text-align: left;
}
.nav-list-item{
	display: inline-block;
	float: left;
	margin: 0 30px;
	font-size: 16px;
	line-height: 70px;
	color: #FAFAFA;
}
.mysite2 i{
	display: none;
}
.loremipsum{
	margin-top: 0;
	height: 650px;
	width: 100%;
	background-image: url(img/mv.png);
	background-position: center;
	background-size: cover;
	padding-top: 200px;
}
.main{
	color: #FAFAFA;
	font-size: 64px;
	text-align: center;
	margin-bottom: 10px;
}
.main2{
	color: #FAFAFA;
	font-size: 20px;
	text-align: center;
}
.main-visual{
	width: 100%;
	background-color: #ECEFF1;
	background-size: cover;
	overflow: hidden;
}
.main-visual2{
	width: 920px;
	margin: 90px auto;
}
.portfolio{
	font-size: 32px;
	color: #000000;
	text-align: center;
}
.underline{
	height: 0;
	width: 70px;
	border: 3px solid #EC715F;
	margin: 8px auto 30px;
	border-top-width: 0;
	border-right-width: 0;
	border-left-width: 0;
}
.text{
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
}
.img1{
	height: 250px;
	width: 300px;
	float: left;
	margin-right: 10px;
	background-image: url(img/sketch.jpg);
	background-position: center;
	background-size: cover;
}
.img2{
	height: 250px;
	width: 300px;
	float: left;
	margin-right: 10px;
	background-image: url(img/websuku.png);
	background-position: center;
	background-size: cover;
}
.img3{
	height: 250px;
	width: 300px;
	float: left;
	background-image: url(img/write.jpg);
	background-position: center;
	background-size: cover;
}
.img4{
	height: 250px;
	width: 300px;
	float: left;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 90px;
	background-image: url(img/webcamp.png);
	background-position: center;
	background-size: cover;
}
.img5{
	height: 250px;
	width: 300px;
	float: left;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 90px;
	background-image: url(img/talk.jpg);
	background-position: center;
	background-size: cover;
}
.img6{
	height: 250px;
	width: 300px;
	float: left;
	margin-top: 10px;
	margin-bottom: 90px;
	background-image: url(img/webcamp-mother.png);
	background-position: center;
	background-size: cover;
}
.feature{
	width: 980px;
	margin: 90px auto;
}
.clearfix::after{
	content: "";
	display: block;
	clear: both;
}
.feature-title{
	font-size: 32px;
	color: #000000;
	text-align: center;
}
.feature-text{
	font-size: 16px;
	color: #000000;
	text-align: center;
	margin-bottom: 30px;
}
.strength1{
	float: left;
	width: 320px;
	text-align: center;
	margin-right: 10px;
}
.strength1 h2{
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.fab{
	font-size: 60px;
}
.strength2{
	float: left;
	width: 320px;
	text-align: center;
	margin-right: 10px;
}
.strength2 h2{
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.strength3{
	float: left;
	width: 320px;
	text-align: center;
}
.strength3 h2{
	font-size: 20px;
	margin-bottom: 10px;
	margin-top: 10px;
}
.profile-main{
	width: 100%;
	background-color: #ECEFF1;
	padding: 90px 0;
	overflow: hidden;
}
.profile{
	width: 1024px;
	margin: 0 auto;
	margin-bottom: 30px;
}
.profile1{
	text-align: center;
}
.text{
	text-align: center;
}
.profile2{
	width: 512px;
	float: left;
}
.iconimg{
	width: 250px;
	height: 250px;
	background-image: url(img/my-icon.jpg);
	background-size: cover;
	background-position: center;
	border-radius: 50%;
	margin: 0 auto;
}

.profile3{
	width: 512px;
	float: right;
}
.myname{
	margin-top: 30px;
	margin-bottom: 20px;
	font-size: 20px;	
}
.text1{
	font-size: 16px;
}
.myskills{
	font-size: 20px;
	margin-top: 20px;
	margin-bottom: 5px;
}
.myskills2{
	font-size: 16px;
}
.clearfix::after{
	content: "";
	display: block;
	clear: both;
}
.contact{
	width: 800px;
	margin: 0 auto;
	padding-bottom: 90px;
}
.contact-head{
	font-size: 32px;
	color: #000000;
	text-align: center;
	margin-top: 90px;
}
.contact p{
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 16px;
}
.mail1{
	width: 400px;
	float: left;
}
.mail1 h1{
	font-size: 20px;
}
.mail2{
	margin-top: 5px;
	margin-bottom: 20px;
}
.tel{
	margin-top: 5px;
}
.sns h1{
	font-size: 20px;
	margin-top: 30px;
}
.sns i{
	margin-top: 5px;
	margin-right: 20px;
	font-size: 50px;
}
footer{
	background-color: #EC715F;
	height: 60px;
}
.footer-text{
	line-height: 60px;
	text-align: center;
	font-size: 16px;
	color: #FAFAFA;
}
@media screen and (max-width: 767px){
	*{
		width: 100%;
	}
	.mysite{
		width: 100%;
		height: 50px;
		padding: 3px;
	}
	.mysite2{
		width: 90%;
	}
	.mysite2 i{
		color: white;
		display: inline-block;
		width: 40px;
		height: 40px;
		position: absolute;
		top: 5px;
		right: 10px;
		font-size: 35px;
		border: solid white;
		text-align: center;
	}
	.image{
		height: 50px;
		width: 170px;
		background-size: 170px 50px;
		background-position: center;
	}

	.loremipsum{
		width: 100%;
		padding-top: 200px;
		background-image: url(img/code.png);
	}
	.main{
		font-size: 40px;
		margin-bottom: 10px;
	}
	.main2{
		font-size: 18px;

	}
	.nav-list-item{
		display: none;
	}

	.main-visual2{
		width: 90%;
	}
	.portfolio{
		font-size: 32px;
		margin-bottom: 8px;
	}
	.img1{
		display: none;
	}
	.img2{
		float: none;
		margin: 30px auto 10px;
	}
	.img3{
		display: none;
	}
	.img4{
		float: none;
		margin: 10px auto;
	}
	.img5{
		display: none;
	}
	.img6{
		float: none;
		margin: 10px auto 90px;
	}
	.feature{
		width: 100%;
	}
	.feature-title{
		font-size: 32px;
		margin-top: 90px;
	}
	.strength1{
		width: 90%;
		margin: 0 5%;
	}
	.fab{
		font-size: 60px;
		margin-bottom: 10px;
	}
	.strength1 i{
		margin-top: 30px;
	}
	.strength1 h2{
		margin: 10px auto;
	}
	.strength2{
		width: 90%;
		margin: 0 5%;
	}
	.strength2 i{
		margin-top: 10px;
	}
	.strength2 h2{
		margin: 10px auto;
	}
	.strength3{
		width: 90%;
		margin: 0 5%;
	}
	.strength3 i{
		margin-top: 10px;
	}
	.strength3 h2{
		margin: 10px auto;
	}
	.profile-main{
		width: 100%;
	}
	.profile{
		width: 90%;
		margin: 0 5%;
	}
	.profile1{
		margin-top: 90px;
	}
	.profile2{
		width: 100%;
		margin: 0 auto;
	}
	.iconimg{
		margin: 30px auto 20px;
	}
	.profile3{
		width: 100%;
	}
	.myname{
		text-align: center;
		margin-top: 20px;
		margin-bottom: 5px;
		font-size: 20px;
	}
	.text1{
		margin-top: 5px;
		text-align: center;
	}
	.myskills{
		text-align: center;
		margin-top: 20px;
		margin-bottom: 5px;
	}
	.myskills2{
		text-align: center;
	}
	.contact{
		width: 100%;
		margin: 0 auto;
	}
	.mail1{
		width: 90%;
		margin: 0 auto;
		float: none;
	}
	.mail1 h1{
		text-align: center;
	}
	.mail2{
		text-align: center;
	}
	.tel{
		text-align: center;
		margin-bottom: 20px;
	}
	.sns{
		width: 90%;
		margin: 0 auto;
		text-align: center;
	}
	.sns h1{
		margin-top: 20px;
	}
	.socialicon{
		display: inline-block;
		margin-right: 8px;
		width: 50px;
	}

}